.button{
    -fx-background-color:#6F5CC2;    
    -fx-border-width:0px 0px 0px 0px ;
    -fx-border-color: #ffffff;
}
.button:hover{
   -fx-background-color:  #52438F;
   -fx-border-width:0px 0px 0px 0px ;

}
.button:pressed{
    -fx-background-color: #7156DD;
}

.label{
    -fx-text-fill:white;
}

.Grid{
    -fx-border-color:white;
}

.chart-legend{
    -fx-background-color: blueviolet;
}
.chart-pie-label
{
    -fx-fill:white;
}

.chart-pie-label:hover{
    -fx-fill:blueviolet;
}

.data0.chart-pie
{
    -fx-pie-color:#452c63;
    -fx-border-color:transparent;
}

.data1.chart-pie
{
    -fx-pie-color:#EE82EE;
    -fx-border-color:transparent;
}

.data2.chart-pie
{
    -fx-pie-color:#D8BFD8;
    -fx-border-color:transparent;
}

.data3.chart-pie
{
    -fx-pie-color:#800080;
    -fx-border-color:transparent;
}

.data4.chart-pie
{
    -fx-pie-color:#662d91;
    -fx-border-color:transparent;
}

.data5.chart-pie
{
    -fx-pie-color:#E6E6FA;
    -fx-border-color:transparent;
}